.search {
  padding-top: 79px;
}

.search__form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding-bottom: 40px;
  border-bottom: 1px solid var(--border-link);
}

@media screen and (max-width: 767px) {
  .search__form {
    gap: 45px;
    padding-bottom: 44px;
  }
}

.search__wrapper {
  display: flex;
  gap: 10px;
  width: 100%;
}

.search__input {
  width: 100%;
  height: 48px;
  padding: 15px 22px;
  box-sizing: border-box;
  color: var(--text-color);
  border-radius: 4px;
  background-color: var(--bg-input);
  border: none;
  outline: none;
}

@media screen and (max-width: 450px) {
  .search__input {
    padding: 13px 16px;
    height: 44px;
    width: 212px;
  }
}

.search__input:focus {
  outline: 1px solid var(--bg-button);
}

.search__input::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--text-color-grey);
}

.search__button {
  width: 75px;
  height: 44px;
  border-radius: 3px;
  padding: 13px 5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  border: none;
  color: var(--text-color);
  background-color: var(--bg-button);
}

@media screen and (max-width: 1023px) {
  .search__button {
    width: 70px;
  }
}