@import url(./vendor/fonts/fonts.css);
@import url(./vendor/normalize.css);

body {
  --text-color: #FFFFFF;
  --text-color-dark: #000000;
  --bg-color: #202020;
  --bg-color-promo: #073042;
  --bg-color-image: #313131;;
  --decor-color: #3DDC84;
  color: var(--text-color);
  background-color: var(--bg-color);
}

:root {
  /* Сглаживание */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Подгонка размера текста */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  /* Рендеринг */
  text-rendering: optimizeLegibility;
}